.pd{
    border-radius: 30px;
    margin-top: 10%;
}
.searchContainer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.search{
    padding: 10px;
    width: 40vw;
    font-size: 20px;
}